<% @view_user = User.find(@profile.id) %>

<div class="mood">
  
<p> Latest moods </br>

  <% @view_user.mood.each do |mood| %>

  <%= mood.color %> 
  <%= mood.mood %></br>
</p>
    <% end %>

</div>

<h3> MOODS </h3>
<div class="mood_chart">
  <%= chart_points = {}
   @view_user.mood_update.each do |mood_update|
    chart_points[mood_update.created_at] = mood_update.intensity
   end 
   line_chart chart_points, {:discrete => true } %>
</div>





