// Place all the styles related to the Chroma controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face{
   font-family: 'Billabong';
   src:asset-url('billabong.otf');
   src:font-url('billabong.ttf');
   font-weight: normal;
   font-style: normal;
}

#hometitle {
   font-family: 'Billabong';
}

@font-face {
   font-family: 'HelveticaNeue-Thin';
   src:asset-url('HelveticaNeue-Thin.otf');
   src:font-url('HelveticaNeue-Thin.otf');
   font-weight: normal;
   font-style: normal;
}

* {
  font-family: 'HelveticaNeue-Thin';
}